@model ArcadiaWebForm.Models.Opportunity.View
@{
    ViewData["Title"] = "New opportunity";
}

<form asp-controller="Opportunity" asp-action="Create" method="post">
    @Html.HiddenFor(m => m.Id)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        @Html.Partial("Create", Model.ExpectedInput, new ViewDataDictionary(this.ViewData) { { "list", Model.ClientList} })

        <div class="col-md-3">
            <h2>Save</h2>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

</form>