@{
    ViewData["Title"] = "Home Page";
}

<div id="under">
    <img src="~/images/forms.png" alt="UXRisk" />
    <div id="over">
        <h2>Menu</h2>
        <ul>
            <li><a asp-area="" asp-controller="Opportunity" asp-action="New">New Opportunity</a></li>

            <li><a href="https://my.uxrisk.com/open?type=main&tenant=@ViewBag.OrgPrefix">UXRisk App</a></li>
            <li><a href="https://powerbi.microsoft.com/">Power BI</a></li>
            <li><a href="https://my.uxrisk.com/#/?userid=@ViewBag.SharedUserId">My UXRisk</a></li>
        </ul>
    </div>
</div>