@{
    ViewData["Title"] = "UXRisk Forms";
}

<div class="row">
    <div class="col-md-3">
        <h2>Available forms</h2>
        <ul>            
            <li><a asp-area="" asp-controller="Opportunity" asp-action="New">New opportunity</a></li>
        </ul>
    </div>   
</div>
