@{
    ViewData["Title"] = "UXRisk Forms";
}

<div class="row">
    <h2>Available forms</h2>
    <ul>
        <li><a asp-area="" asp-controller="Opportunity" asp-action="New">New opportunity</a></li>
    </ul>
</div>
