body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 350px;
}

#under {
    position: relative;
}

#over {
    position: absolute;
    width: 100%;
    text-align: left;
    /*bottom: 10%;*/
    top: 15%;
    right: 0;
    left: 8%;
    z-index: 3;
}

#over a,
li {
    color: white;
    font-size: large;
}

#over a:hover {
    text-decoration: underline
}